@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url("pacote-projeto-d010/fontes/idroid.otf") format('opentype');
}
@font-face {
    font-family: 'Bebas';
    src: url("pacote-projeto-d010/fontes/BebasNeue-Regular.ttf") format("Truetype")
}
:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #063d1e;
    --cor-main: #E8E5C1;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', 'cursive'; 
    --fonte-android: 'Android', 'cursive';
}

body {
    margin: 0px;
}
header {
    height: 170px;
    background-image: linear-gradient(180deg, var(--cor4), var(--cor5));
}
header > h1 {
    margin: 0px 0px 20px 0px;
    padding: 30px 0px 0px 0px;
    text-align: center;
    font-size: 2.6em;
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: 200;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
}
header > p {
    text-align: center;
    color: white;
    margin: 0px auto;
    width: 550px;
    font-size: 1.2em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.655);
}
nav {
    background-color: var(--cor5);
    padding: 10px;
}
nav > a {
    color: white;
    padding: 11px 10px;
    text-decoration: none;
    border-radius: 3px;
}
nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    transition-duration: 0.4s;
}
div#cabeçalho_e_menu {
    box-shadow: 0px 1px 7px 3px rgba(0, 0, 0, 0.377);
}
body {
    background-color: var(--cor-main);
}
main {
    padding: 0px 0px 35px 0px;
}
main > section {
    background-color: white;
    width: 850px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 8px 1px #00000060;
}
main > section#primeiro {
    border-radius: 0px;
}
main > section > article > h1 {
    font-size: 1.8em;
    margin: 10px 0px 30px 0px;
    font-family: var(--fonte-android);
    font-weight: 400;
    color: var(--cor5);
}
main > section > article > h2 {
    font-size: 1.35em;
    text-indent: 8px;
    font-family: var(--fonte-android);
    font-weight: 400;
    background-image: linear-gradient(90deg, var(--cor2), transparent);
    color: var(--cor5);
}
main > section > article > p {
    font-size: 1.15em;
    font-family: var(--fonte-padrao);
    text-align: justify;
    text-indent: 35px;
    line-height: 2em;
}
strong {
    color: var(--cor5);
    font-weight: bold;
}
main > section > article > p > a {
    background-color: var(--cor2);
    color: var(--cor5);
    padding: 2px 4px;
    text-decoration: none;
    font-weight: bold;
}
main > section > article > aside > p > a {
    background-color: var(--cor2);
    color: var(--cor5);
    padding: 2px 4px;
    text-decoration: none;
    font-weight: bold;
}
a.externo::after {
    content: "\1F517";
}
main > section > p {
    font-size: 1.15em;
    font-family: var(--fonte-padrao);
    text-indent: 35px;
}
#video {
    background-color: white;
    width: 890px;
    height: 490px;
    margin: auto;
}
article#extra {
    box-shadow: 10px 10px 10px -9px rgba(0, 0, 0, 0.575);
    border-radius: 15px;
}
aside#cima {
    background-color: var(--cor5);
    height: 40px;
    border-radius: 15px 15px 0px 0px;
}
aside#cima > h1 {
    color: white;
    margin: 30px 0px 0px 0px;
    line-height: 40px;
    font-size: 1.1em;
    font-family: var(--fonte-padrao);
    font-weight: 600;
    padding: 0px 0px 0px 10px;
}
aside#conteudo {
    background-color: var(--cor2);
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
}
aside#conteudo > p {
    margin: 0px;
    text-indent: 35px;
    padding: 10px 0px;
    font-family: var(--fonte-padrao);
    font-size: 1.15em;
}
aside#conteudo > ul > li {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
}
aside#conteudo > ul {
    columns: 2;
    margin-bottom: 0px;
}
footer {
    height: 30px;
    background-color: var(--cor5);
    color: rgb(226, 226, 226);
    font-family: var(--fonte-padrao);
    text-align: center;
    line-height: 30px;
}
footer > strong {
    color: white;
}