body {
    height: 100vh;
    /*background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    background: black url('imagens/wallpaper002.jpg') center center / cover no-repeat fixed;
    background-attachment: ;
}
main {
    background-color: white;
    padding: 10px;
    /*min-width: 350px;
    max-width: 700px;*/
    width: 370px;
    margin: 70px auto 70px auto;
    border-radius: 10px;
    text-align: justify;
}

/*center center /*/ 