@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url("pacote-projeto-d010/fontes/idroid.otf") format('opentype');
}
@font-face {
    font-family: 'Bebas';
    src: url("pacote-projeto-d010/fontes/BebasNeue-Regular.ttf") format("Truetype";
}
:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #063d1e;
    --cor-fundo: #E8E5C1;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', 'cursive'; 
    --fonte-android: 'Android', 'cursive';
}
