div#bloco1 {
    background-color: darksalmon;
    padding: 10px;
    width: 300px;
    height: 300px;
    overflow: visible;
    margin: 40px auto;
}
div#bloco1 > p {
    width: 500px;
}
div#bloco2 {
    background-color: darksalmon;
    padding: 10px;
    width: 300px;
    height: 300px;
    overflow: scroll;
    margin: 125px auto 40px auto;
}
div#bloco2 > p {
    width: 500px;
}
div#bloco3 {
    background-color: darksalmon;
    padding: 10px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 80px auto 40px auto;
}
div#bloco3 > p {
    width: 500px;
}
div#bloco4 {
    background-color: darksalmon;
    padding: 10px;
    width: 300px;
    height: 300px;
    overflow: auto;
    margin: 80px auto 40px auto;
}
div#bloco4 > p {
    width: 500px;
}
