td {
    border: 1px solid black;
    height: 50px;
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
    width: 200px;
}
table {
    border-collapse: collapse;
    margin: auto;
}
th, tfoot > tr > td {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    vertical-align: middle;
    background-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
td.num {
    text-align: right;
    padding-right: 10px;
}

caption {
    padding: 15px 0px;
    font-size: 1.2em;
}
tfoot > tr > th {
    width: 200px;
}
