td {
    border: 1px solid black;
    width: 100px;
}
table {
    border-collapse: collapse;
}
tr#topo > td {
    background-color: black;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: 1px solid white;
    text-align: center;
}
td.nome {
    background-color: darkgray;
}